html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.calculator {
  background-color: rgb(194, 191, 191);
  width: 30em;
  height: 40em;
  margin-top: 2em;
  display: flex;
  flex-direction: column;
  padding: 1.5em;
  position: relative;
  border: .5em solid black;
}

.display {
  background-color: rgb(247, 244, 244);
  width: 100%;
  height: 20%;
  margin-bottom: 2em;
}

.number-buttons {
  display: flex;
  height: 50%;
  width: calc((85% / 5) * 3);
  flex-wrap: wrap-reverse;
  position: absolute;
  bottom: 0;
  gap: 0.5%;
  padding-bottom: inherit;
}

.number {
  width: calc(95% / 3);
  height: calc(95% / 4);
}

button {
  font-size: larger;
  border-radius: 1em;
}

.operators {
  display: flex;
  height: 50%;
  width: calc((85% / 5) * 2);
  flex-wrap: wrap-reverse;
  position: absolute;
  align-self: flex-end;
  bottom: 0;
  gap: 0.5%;
  padding-bottom: inherit;
  flex-direction: column;
  justify-content: space-around;
}

.operator {
  width: calc(95% / 2);
  height: calc(95% / 4);
}

.operators #equals {
  height: calc(95% / 2);
  background-color: lightgreen;
}
